<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_CENTER_SECRET</key>
	<string>d42782fb-526a-4a2f-8cb3-600ef4e51a91</string>
	<key>BASE_URL</key>
	<string>https://eu.api.blizzard.com</string>
	<key>CLIENT_ID</key>
	<string>fdb95462a77747ea926cc45ec9c2f32d</string>
	<key>CLIENT_SECRET</key>
	<string>8XgHyyR3KsB6ZNYsXDWo82nz8t3hrBOu</string>
	<key>REDIRECT_URI</key>
	<string>http://192.168.1.101</string>
</dict>
</plist>
