<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client_id</key>
	<string>fdb95462a77747ea926cc45ec9c2f32d</string>
	<key>client_secret</key>
	<string>Q04VFH8ktx1bZ9Dm1I3EZANOO7YiFaNt</string>
	<key>redirect_uri</key>
	<string>http://192.168.1.101</string>
</dict>
</plist>
